html {
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
  }
  
  body{	
      font-size: 16px;
      line-height: 25px;
      box-sizing: border-box;
      background: #E5E5E5;
      height: 100%;
      min-height: 100%;
      margin: 0;
  }
  
  a{
    text-decoration: none;
    font-weight: 400;
    color: #3072C4;
  }

  a:hover{
    text-decoration: underline;
  }
  
  .grid{
    margin: -10px 0px 0px -10px;
    display: grid;
    grid-template-rows: 50px 70px auto 80px;
    grid-template-columns: 150px auto 150px;
    min-height: 100vh;
  }
  
  .header{
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4; 
    display: flex;
    justify-content: space-between;  
    background: #FFFFFF;
    padding: 0 150px;
  }
   
  .breadcrumbs{
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 25px;
}
  
  .content{
    grid-row: 3;
    grid-column: 2;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-top: 1px solid #3072C4;
    display: flex;
    flex-direction: column;
	min-height: 100%; 
}

.main{
    flex: 1 0 auto;
}
      
  .footer{
    grid-row: 4;
    grid-column: 2;
    background: #E5E5E5;
    color: gray;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    line-height: 30px;
    padding-top: 30px;
    justify-content: space-between;
}

.str{
  display: flex;
}
.support{
    text-align: right;
}
  
  .mainMenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  

  
  .menu{
    padding: 10px 10px;
  }
  
  .menu:hover{
    background-color: #DADADA;
  }


  input.inputText {
    width: 100px;
    padding-left: 10px;
    line-height: 30px;
    margin: 10px 5px 10px 0px;
}

  .exit::before {
    content: "";
    height: 20px;
    padding-left: 20px;
    border-left: 2px solid #E5E5E5;
  }

  
  h1{
    font-weight: 300;
    font-size: 32px;   
    margin: 30px 0px 30px 30px;
  }

    
  h2{
    font-weight: 300;
    font-size: 24px;
    margin: 30px 0px 30px 30px;
  }


  h3{
    padding: 20px 0px;
    font-weight: 400;
    color: #3072C4;
    border-bottom: 2px solid #E5E5E5;
    margin-right: 40px;
  }

  .shortMenu{
    border-bottom: 2px solid #E5E5E5;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 100%;
  }

.names{
    width: 100%;
    display: flex;
    flex-direction: row;
    line-height: 30px;
}

.send{
    margin: 15px 0px 0px 5px;
}

.inputs{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.inps{
    width: 50%;
    margin-left: 30px;
    margin-right: 40px;
    display: flex;
	flex-direction: row;
	min-height: 100%;
}

.name{
    width: 50%;
    margin-left: 30px;
    margin-right: 40px;
    display: flex;
	flex-direction: column;
	min-height: 100%;
}


.submitAll{
    width: 95%;
    border-top: 2px solid #E5E5E5;
    margin: 50px 0px 40px 30px;
    display:flex;
    flex-direction: row;
    flex: 0 0 auto;
}

.history{
    margin-left: 60%;
    margin-top:20px;
}

  .section{
      margin: 20px 0px 0px 30px;
  }

  .signing{
        margin: 20px 0px 0px 30px;
        border-bottom:4px solid #3072C4;   
        padding-bottom: 20px;    
  }
  
  
  .grText{
    font-weight: 300;
    font-size: 16px;
    color: #DADADA;
    margin: 10px 0px;
  }
  
  .inf{
    margin-top: 0px;
    margin-bottom: -30px;
    font-weight: 400;
    font-size: 18px;
    color: #DADADA;
    line-height: 30px;
  }
  
  .inp{
    margin-left: 20px;
  }
  
  .textSKB1
  {
      margin-top:5px;
      margin-left:30px;
  }
  
  input.submitSend {
    background: #1D85D0;
    border: 1px solid #1D85D0;
    border-radius: 1px;
    color: white;
    width: 150px;
    height: 42px;
    padding: 5px 10px;
    margin-top: 20px;
  }

  input.submitSave {
    background: white;
    border: 1px solid #DADADA;
    border-radius: 1px;
    color: black;
    width: 200px;
    height: 42px;
    padding: 5px 10px;
    margin-top: 20px;
    margin-left: 10px;
  }

  .imageKontur{
      margin-top: 12px;
  }

  .imageSKB{
      margin-right: 5px;
  }
  
  .text{
      margin: 10px 10px;
  }

 

  .aSKB{
    color: gray;
  }
  